fvmd/datasets/*datasets
datasets/*.png
datasets/*.sh
experiments/log/
experiments/vault/
*.tar.gz

*~
*#*
*pyc
#.*
.DS_Store
*.out
*.gif

#dirs
/logs
/reference_model
/.idea
/build
/dist
/fvmd.egg-info